body {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.bars:hover{
  stroke: #000;
  stroke-width: 1.2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  z-index: 10001;
}

h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 0cm 1cm 0cm 1cm;
}
h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  padding: 0cm 1cm 0cm 1cm;
}
h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
  padding: 0cm 0cm 0cm 0cm;
}
p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding: 0cm 0cm 0cm 0cm;
}
